body {
    background-color: lightgrey;
}

h1 {
    color: #FF2200;
    font-size: 3em;
}

h2 {
    color:purple;
    font-size:2em;
}

p {
    background-color: darkgrey;
    color: darkgreen;
    font-size: 2em;
    text-align:justify;
}

.poseban {
    background-color: rgb(182, 13, 13);
    color:tan;
    font-size: 2em;
}

.img2 {
    text-align:center;
    
}


a {
    color: blue;
    font-size: 1em;
}
